# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Edu\prog_sem6_lab3-4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
